{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'chat/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="{% static 'chat/main.js' %}"></script>
    <title>Online Chating</title>

</head>
<body>

    {% if messages %}
        {% for message in messages %}
            <p class="{{message.tags}}">{{message}}</p>
        {% endfor %}
    {% endif %}
    
    <div id="container">
        <div id="title">
            <h1>WELCOME TO ONLINE CHATING!</h1>
        </div>
    
        <form method="post" action="{% url 'index' %}" autocomplete="off">
            <label><h4>Please write your name to go to the chat box.</h4></label><br>
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name" class="form-group" id="name">
            <input type="submit" value="Go To Chat" class="form-submit" id="submit">
        </form>
    </div>
</body>
</html>